.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.nav-tabs {
  border: none;
  padding: 0 12px !important;
}
/* .nav-tabs .nav-item .nav-link, */
.nav-tabs .nav-link.active {
  color: #3b71ca !important;
  background-color: #fff;
  border-bottom: 2px solid #3b71ca !important;
}
.nav-tabs .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.55);
  border-radius: 0px;
  border: none;
}
.nav-tabs .nav-link:hover {
  background-color: #f7f7f7;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
